---
layout: default
title: Project Banana
---

<h3>Project BaNaNa</h3>
<p>The project 'baNaNa' is a self-organised seminar from the PhD
students of the numerical analysis department at TU Delft and part of the <a href="http://sscdelft.github.io">SIAM Student Chapter Delft</a>. Our aim is to present
practical tools and applications from the every-day use of a mathematician
to each other. The seminar will be held on a monthly basis and in an
informal manner. Everyone is welcome to join our talks and contribute
from time to time...</p>

<p><b>Organisers:</b> Manuel and Joost</p>

<h3>Upcoming lectures</h3>
<ul>
  {% for post in site.categories.lecture reversed %}
    <li>
      <a href="{{ post.url }}">
        {{ post.date | date_to_string }}:
        &quot;{{ post.title }}&quot; by {{ post.lecturers }}
      </a>
    </li>
  {% endfor %}
<h3>Previous lectures</h3>
  {% for post in site.categories.given_lecture %}
    <li>
      <a href="{{ post.url }}">
        {{ post.date | date_to_string }}:
        &quot;{{ post.title }}&quot; by {{ post.lecturers }}
      </a>
    </li>
  {% endfor %}
</ul>

<!-- vim: ts=2:sts=2:sw=2:et:tw=80
-->
